html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

main.maintenance {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.maintenance {
    width: 50px;
    height: 50px;
}

h2.maintenance {
    text-align: center;
}